<div class="field-creation-container">
  {{form-error errorMessages=model.errorMessages}}
  <div class="field-item w-50">
    <div class="inline-block w-30 font-lg  ff-semibold">
      Name:
    </div>
    <div class="inline-block w-60">
      {{input class="form-control" value=model.name}}
    </div>
  </div>
  <div class="field-item w-60">
    <div class="font-lg ff-semibold">Condition Type</div>
    <div class="mt-10 condition-type">
      <label class="cursor-pointer">
        {{radio-button value="all" selection=model.predicate  onChange=(action 'updatePredicate')}} All Conditions are met
      </label>
      <label class="cursor-pointer">
        {{radio-button value="any" selection=model.predicate  onChange=(action 'updatePredicate')}} Any of the condition is met
      </label>
    </div>
  </div>
  <span class="font-lg ff-semibold">Conditions</span>
  <div class="condition-section">
    {{#each model.conditions as |condition index|}}
      {{condition-item model=condition index=index removeCondition=(action 'removeCondition')}}
    {{/each}}
    <button class="button mt-10"{{action 'addNewCondition'}}>Add new condition</button>
  </div>
  <div class="actions-section">
    <span class="font-lg ff-semibold">Perform the following actions</span>
    <div class="actions-list">
      {{#each model.actions as |filterAction index|}}
        {{action-item model=filterAction index=index removeAction=(action 'removeAction')}}
      {{/each}}
      <button class="button mt-10" {{action 'addNewAction'}}>Add new action</button>
    </div>
  </div>
  <div>
    <button class="button button-primary" {{action 'saveFilter'}}>Save filter</button>
    <button class="button" {{action 'moveToList'}}>Cancel</button>
  </div>
</div>
