<div class="field-creation-container">
  <div class="field-item w-50">
    <div class="inline-block w-30">
      Description:
    </div>
    <div class="inline-block w-60">
      {{input class="form-control" value=model.description}}
    </div>
  </div>
  <div class="field-item w-60">
    <div>Condition Type</div>
    <div class="mt-5">
      <label class="cursor-pointer">
        {{radio-button value="all" selection=model.predicate  onChange=(action 'updatePredicate')}} All Conditions are met
      </label>
      <label class="cursor-pointer">
        {{radio-button value="any" selection=model.predicate  onChange=(action 'updatePredicate')}} Any of the condition is met
      </label>
    </div>
  </div>
  <div class="condition-section">
    {{#each model.conditions as |condition index|}}
      {{condition-item model=condition index=index removeCondition=(action 'removeCondition')}}
    {{/each}}
    <button {{action 'addNewCondition'}}>Add new condition</button>
  </div>
  <div class="actions-section">
    Perform the following actions
    <div class="actions-list">
      {{#each model.actions as |filterAction index|}}
        {{action-item model=filterAction index=index removeAction=(action 'removeAction')}}
      {{/each}}
      <button class="mt-5" {{action 'addNewAction'}}>Add new condition</button>
    </div>
  </div>
  <div>
    <button {{action 'saveFilter'}}>Save filter</button>
  </div>
</div>
